<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="log4net.Config.Watch" value="False" />
  </appSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\logs\SiteAvailabilityChecker.log" />
      </file>
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="50MB"/>
      <countDirection value="-1"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName type="log4net.Util.PatternString">
        <conversionPattern value="%property{ctInstanceId}" />
      </applicationName>
      <logName value="Tunstall" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
      <threshold value="ERROR"/>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
